/* Media queries
=========================== */
@mixin breakpoint($point, $direction: up) {
  $xs-operator: max;
  $operator: min;

  @if $direction == down {
    $xs-operator: min;
    $operator: max;
  }

  @if $point == xs {
    @media (#{$xs-operator}-width: $screen-sm) {
      @content ;
    }
  } @else if $point == sm {
    @media (#{$operator}-width: $screen-sm) {
      @content ;
    }
  } @else if $point == md {
    @media (#{$operator}-width: $screen-md) {
      @content ;
    }
  } @else if $point == lg {
    @media (#{$operator}-width: $screen-lg) {
      @content ;
    }
  } @else {
    @media (#{$operator}-width: $point) {
      @content ;
    }
  }
}

/* Typography
=========================== */
@mixin f-head ($size: 6) {
  $options: $h1 $h2 $h3 $h4 $h5 $h6;

  @if $size < 0 and $size > 6 {
    $size: 6;
  }

  font-family: $font-heading;
  font-size: nth($options, $size);
  line-height: 1em;
  @if $size == 1 {
    font-weight: 500;
  } @else {
    font-weight: 600;
  }
}

@mixin f-copy ($size: md) {
  font-family: $font-copy;
  line-height: 1.3em;
  @if $size == sm {
    font-size: $copy-sm;
  } @else if $size == lg {
    font-size: $copy-lg;
  } @else {
    font-size: $copy-md;
  }
}