/* Colors
=========================== */
$color-primary: #34A5FF;
$color-secondary: #859EFF;

$color-black: #000000;
$color-white: #ffffff;

// Gray pallete
$color-gray-10 : #F6F7F8;
$color-gray-20 : #EAEDEF;
$color-gray-30 : #BFC4CE;
$color-gray-40 : #D0D4DA;
$color-gray-50 : #8F97A8;
$color-gray-60 : #778195;
$color-gray-70 : #566074;
$color-gray-80 : #414C5E;
// $color-gray-90 : #414C5E;

/* Breakpoints and sizes
=========================== */
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$container-max-width: 738px;

/* Typography
=========================== */
$font-heading: 'Montserrat', sans-serif;
$font-copy: 'Open Sans', sans-serif;

$h1: 18px;
$h2: 17px;
$h3: 16px;
$h4: 15px;
$h5: 12px;
$h6: 10px;

$copy-lg: 17px;
$copy-md: 16px;
$copy-sm: 15px;

/* Export to use in js
=========================== */
:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorBlack: $color-black;
  colorWhite: $color-white;
  colorGray10: $color-gray-10;
  colorGray20: $color-gray-20;
  colorGray30: $color-gray-30;
  colorGray40: $color-gray-40;
  colorGray50: $color-gray-50;
  colorGray60: $color-gray-60;
  colorGray70: $color-gray-70;
  colorGray80: $color-gray-80;
  screenXs: $screen-xs;
  screenSm: $screen-sm;
  screenMd: $screen-md;
  screenLg: $screen-lg;
}