@import "~normalize.css/normalize";
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600|Open+Sans');

/* Custom normalization
=========================== */
* {
  box-sizing: border-box;
  outline: none;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

:focus {
  outline: $color-primary auto 5px;
  z-index: 10;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

/* Typography
=========================== */
html,
body {
  @include f-copy(md);
  $color-copy: $color-gray-60;
}

h1 { @include f-head(1); }
h2 { @include f-head(2); }
h3 { @include f-head(3); }
h4 { @include f-head(4); }
h5 { @include f-head(5); }
h6 { @include f-head(6); }

/* Icons - svg icons
=========================== */
.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
  animation: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up { transform: rotate(0deg); }
.svg-right { transform: rotate(90deg); }
.svg-down { transform: rotate(180deg); }
.svg-left { transform: rotate(-90deg); }

/* Utilitities
=========================== */
.l-container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}

.h-hide {
  display: none !important;
}

/* Animations
=========================== */
@keyframes spin {
  to {transform: rotate(360deg);}
}

@keyframes wobble {
  0% { transform: translateX(0) rotate(0); }
  50% { transform: translateX(-2px) rotate(-1deg); }
  100% { transform: translateX(1px) rotate(5deg); }
}