<template>
  <component :is="pageLayout">
    <template slot="header">
      <div class="c-header">
        <h1>Translations</h1>
        <div class="c-header__actions">
          <button @click="postTranslations()"
                  class="c-header__btn"
                  title="Upload Translations"
                  :disabled="!initialized || isFetching || isPosting"
          >
            <svg-icon name="upload" width="24" height="24" :original="true"></svg-icon>
          </button>
          <button @click="fetchTranslations()"
                  class="c-header__btn"
                  title="Fetch Translations"
                  :disabled="isFetching || isPosting"
          >
            <svg-icon name="fetch-document" width="24" height="24" :original="true"></svg-icon>
          </button>
        </div>
      </div>
    </template>
    <translation-list></translation-list>
  </component>
</template>

<script>
import TranslationList from '@/components/TranslationList.vue'
import { mapState } from 'vuex'

export default {
  components: {
    TranslationList
  },
  computed: {
    ...mapState({
      initialized: state => state.translations.initialized,
      isFetching: state => state.translations.isFetching,
      isPosting: state => state.translations.isPosting
    })
  },
  methods: {
    postTranslations () {
      this.$store.dispatch('translations/post')
    },
    fetchTranslations () {
      this.$store.dispatch('translations/fetch')
    }
  }
}

</script>

<style lang="scss" scoped>
.c-header {
  padding: 0 24px;
  display: flex;
  align-items: center;

  &__actions {
    margin-left: auto;
  }

  &__btn {
    margin-left: 24px;
  }
}
</style>
