<template>
  <article class="c-Translation" tabindex="0" ref="translation">
    <div class="c-Translation__left">
      <input type="checkbox"
             :id="`checkbox-${translationId}`"
             class="h-hide c-Translation__checkbox"
      >
      <label :for="`checkbox-${translationId}`"
             class="c-Translation__checkboxLabel"
             tabindex="0"
      >
      </label>
      <svg-icon class="c-Translation__personIcon"
                name="person"
                width="26"
                height="26"
                :original="true"
      >
      </svg-icon>
    </div>
    <div class="c-Translation__right">
      <div v-show="!editingVoice">
        <h3 class="c-Translation__voice"
            role="button"
            @click="editVoice"
            @keyup.enter="editVoice"
            v-text="translation.voice"
            tabindex="0"
        >
        </h3>
      </div>
      <div v-show="editingVoice">
        <input class="c-Translation__voiceInput"
            @blur="saveVoice"
            @keyup.enter="saveVoice"
            :value="translation.voice"
            ref="translation-voice"
        />
      </div>

      <div v-show="!editingText">
        <p class="c-Translation__text"
           role="button"
           @click="editText"
           @keyup.enter="editText"
           v-text="translation.text"
           tabindex="0"
        >
        </p>
      </div>
      <div v-show="editingText">
        <textarea class="c-Translation__textInput"
                  @blur="saveText"
                  @keyup.enter="saveText"
                  :value="translation.text"
                  :rows="Math.ceil(translation.text.length / 50)"
                  ref="translation-text"
        />
      </div>
    </div>
    <div class="c-Translation__deleteWrapper">
      <button class="c-Translation__delete"
              @click="deleteTranslation"
              @keydown.enter="deleteTranslation"
              tabindex="0"
      >
        <svg-icon name="delete"
                  width="20"
                  height="20"
                  :original="true"
        >
        </svg-icon>
      </button>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    translationId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      editingVoice: false,
      editingText: false
    }
  },
  computed: {
    translation () {
      return this.$store.getters['translations/getTranslationById'](this.translationId)
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$refs.translation.focus()
    })
  },
  methods: {
    deleteTranslation () {
      this.$store.dispatch('translations/delete', this.translationId)
    },
    editVoice () {
      this.editingVoice = true
      this.$nextTick(() => {
        this.$refs['translation-voice'].focus()
      })
    },
    saveVoice () {
      this.editingVoice = false
      this.$store.dispatch('translations/saveVoice', {
        id: this.translationId,
        voice: this.$refs['translation-voice'].value
      })
    },
    editText () {
      this.editingText = true
      this.$nextTick(() => {
        this.$refs['translation-text'].focus()
      })
    },
    saveText () {
      this.editingText = false
      this.$store.dispatch('translations/saveText', {
        id: this.translationId,
        text: this.$refs['translation-text'].value
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.c-Translation {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 30px 55px 30px 25px;
  background: $color-white;
  border: 1px solid $color-gray-20;

  &:not(:first-of-type) {
    border-top: 0;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    margin-left: 10px;
    width: 100%;
  }

  &__checkboxLabel {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    background: #FFFFFF;
    border: 2px solid $color-secondary;
    border-radius: 2px;
    cursor: pointer;
    transition: background .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;

    &::after {
      position: absolute;
      width: 11px;
      height: 8px;
      top: 2px;
      left: 1px;
      content: "";
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M3.468 5.211l4.95-4.95A1 1 0 1 1 9.83 1.676L4.175 7.333a1 1 0 0 1-1.415 0l-.235-.236L.403 4.976A1 1 0 1 1 1.818 3.56l1.65 1.65z'/%3E%3C/svg%3E");
      transition: transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform: translateY(10px);
    }
  }

  &__checkbox:checked + &__checkboxLabel {
    background: $color-secondary;

    &::after {
      transform: translateY(0);
    }
  }

  &__personIcon:hover {
    animation: wobble .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate infinite;
  }

  &__voice,
  &__text,
  &__voiceInput,
  &__textInput {
    margin: 0;
    padding: 5px;
  }

  &__text {
    margin-top: 10px;
  }

  &__voiceInput,
  &__textInput {
    background: $color-gray-20;
    width: 100%;
    border: 0;
    box-shadow: inset 0 0 1px 0 $color-gray-30;
    border-radius: 2px;
    font-weight: 600;
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &__voiceInput {
    @include f-head(3);
  }

  &__textInput {
    margin-top: 15px;
    min-height: 80px;
    @include f-copy(md);
  }

  &__deleteWrapper {
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
  }

  &__delete {
    opacity: 0;
  }

  &__delete:focus,
  &:hover &__delete {
    opacity: 1;
  }
}
</style>
