<template>
  <section class="c-TranslationList" :class="{'is-loading': (isFetching || isPosting)}">
    <div v-if="!translations.length" class="c-TranslationList__empty">
      No translations so far...
    </div>

    <translation
      v-for="translation in translations"
      :translationId="translation.id || translation.tempId"
      :key="translation.id || translation.tempId"
    >
    </translation>

    <button @click="newTranslation" class="c-TranslationList__add">
      <svg-icon name="add-row" width="32" height="32" :original="true"></svg-icon>
    </button>
  </section>
</template>

<script>
import Translation from '@/components/Translation.vue'
import { mapState } from 'vuex'

export default {
  components: {
    Translation
  },
  computed: {
    ...mapState({
      translations: state => state.translations.data,
      isFetching: state => state.translations.isFetching,
      isPosting: state => state.translations.isPosting
    })
  },
  methods: {
    newTranslation () {
      this.$store.dispatch('translations/new')
    }
  }
}
</script>

<style lang="scss" scoped>
.c-TranslationList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__add {
    height: 32px;
    width: 32px;
    margin-top: 25px;
  }

  &__empty {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: $color-gray-50;
  }

  &.is-loading {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 34px;
      height: 34px;
      margin-top: -17px;
      margin-left: -17px;
      border-radius: 50%;
      border-top: 3px solid $color-primary;
      border-right: 3px solid transparent;
      animation: spin .5s linear infinite;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-gray-10;
      opacity: .9;
    }
  }
}
</style>

<style lang="scss">
.c-TranslationList__add:hover svg circle {
  fill: $color-primary;
}
</style>
