<template>
  <div id="app"
       class="c-App"
       :class="{'is-using-mouse': isUsingMouse}"
       @mousedown="mouse(true)"
       @keydown.tab="mouse(false)"
  >
    <router-view/>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isUsingMouse: false
    }
  },
  methods: {
    mouse (status) {
      this.isUsingMouse = status
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/app.scss';
</style>

<style lang="scss" scoped>
.c-App.is-using-mouse :focus {
  outline: none;
}
</style>
