<template>
  <div class="c-Default">
    <header class="c-Default__header">
      <div class="l-container">
        <slot name="header"></slot>
      </div>
    </header>
    <main class="c-Default__main">
      <div class="l-container">
        <slot></slot>
      </div>
    </main>
  </div>
</template>

<style lang="scss" scoped>
.c-Default {
  min-height: 100vh;
  background: $color-gray-10;

  &__header {
    width: 100%;
    padding: 25px;
    background: $color-white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24),
                0 1px 3px 0 rgba(0,0,0,0.12);
  }

  &__main {
    padding: 25px;
  }
}
</style>
